ion-content.routes-list>scroll-content {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

.bordered {
  border: 1px solid red;
}

.routeList .full-width-element {
  width: 100%;
}

.flexOne {
  flex: 1;
}

.routes-list-page scroll-content{
  overflow-y: auto;
}

.noPadding,
.noPadding > scroll-content {
  padding: 0 !important;
}
