<ion-header>
  <ion-navbar>
    <ion-title>Rute</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="routes-list" scroll="false">

  <ion-scroll class="flexOne bordered noPadding">
    <div *ngIf="loading">Loading ...</div>
    <ion-list *ngIf="!loading">
      <!--<div>date: cnt: {{lines.length}}</div>-->
      <ion-item *ngFor="let line of lines">
        {{line.rawName}}
      </ion-item>
    </ion-list>

    <map-partial></map-partial>
  </ion-scroll>

  <route-type-menu
    class="full-width-element"
    (selectedRouteTypeChanged)="selectedRouteTypeChanged($event)"
  ></route-type-menu>
</ion-content>
