ion-content.routes-table>scroll-content {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

.routes-table ion-scroll {
  background-color: #f1f1f1;
}

.routes-table .scroll-zoom-wrapper {
  padding: 2% 10%;
}

.routes-table .line-type {
  text-transform: uppercase;
  font-size: 2.4em;
  //font-weight: 200;
  line-height:3em;
  color:#555;
}

.routes-table{
  width: 100%;
  //margin-bottom:1em;
}

.routes-table .line-number {
  position:relative;
  width:3em;
  height:3em;
  text-align: center;
  display: inline-block;
  margin:1%;
}

.routes-table .line-name {
  position: absolute;
  color:white;
  float:left;
  z-index:10;
  top:0;
  left:0;
  line-height: 2.4em;
  font-size: 1.2em;
  font-weight: 500;
  width:100%;;
  text-align:center
}

// Colors for the lines

.routes-table .line-number-bus i{
  color:rgb(230, 39, 57);
}

.routes-table .line-number-trolley i{
  color:rgb(255, 177, 51);
}

.routes-table .line-number-tram i{
  color:rgb(85, 85, 85);
}
.routes-table .line-number-bike i{
  color:rgb(138, 101, 197);
}

.routes-table .line-number-boat i{
  color:rgb(110, 211, 207);
}

.routes-table scroll-content{
  overflow-y: auto;
}
