<ion-header>
  <ion-navbar>
    <ion-title>Rute</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="routes-table" scroll="false">
  <ion-scroll class="flexOne">
    <div *ngIf="!lines || !lines.length">
      Se încarcă ...
    </div>
    <div *ngIf="lines && lines.length">
      <div *ngFor="let lineBag of lines">
        <div class="line-type">{{lineBag.type.name}}</div>
        <div class="lines-table">
          <div *ngFor="let line of lineBag.lines"
               class="line-number line-number-{{lineBag.type.name}}"
               (click)="lineTap(line);">
            <i class="fa fa-circle fa-3x" ></i>
            <span class="line-name">{{line.number}}</span>
          </div>
        </div>
      </div>
    </div>
  </ion-scroll>

  <route-type-menu
    class="full-width-element"
    (selectedRouteTypeChanged)="selectedRouteTypeChanged($event)"
  ></route-type-menu>
</ion-content>
