/* Empty. Add your own CSS if you like */


.labelClass {
  padding-top:29px;
  padding-left:2px;
  color:#000;
  font-family: 'open_sansregular';
  height:61px;
  width:37px;
  font-size:9px;
  line-height: 12px;
}

ionic-content.view{
  bottom: 50px;
}

.popupMap{
  position: fixed;
  bottom:50px;
  width: 100vw;
  height: 60vw;
  z-index:5;
}

.fullHeight {
  height: 100%;
}

.popupMap>.fullHeight,
.popupMap>.fullHeight>*,
.popupMap>.fullHeight>*>*,
.popupMap>.fullHeight>*>*>*,
.popupMap>.fullHeight>*>*>*>*{
  height: 100%;
}

a.hiddenLink{
  display: none;
}
ion-view.pane {
  height: auto;
  top: 100px;
  bottom: 48px;
}
.toggleStation ion-scroll {
  max-height: 250px;
  /*max-height: 80vw;*/
}
.currentStationWrapper {
  position: absolute;
  background: white;
  bottom: 49px;
  left: 0;
  width: 100%;
  z-index: 1000;
  max-height: 300px;
}
.currentStationWrapper>*{
  position: absolute;
  background: white;
  width:100%;
  max-height: 300px;
  bottom:0;
}
.currentStationWrapper .stationName{
  font-size:1.4em;
}

/*.toggleStation ion-scroll {*/
  /*max-height: 250px;*/
/*}*/

.headerIcon {
  padding-right:10px;
}
.headerNumber {
  font-weight:bold;
  padding-right:10px;
}

.currentStationWrapper .stationName .closeIcon:hover{
  color: #000;
}
.currentStationWrapper .stationName .closeIcon.activated{
  color: #f00;
}

.routeDetails div.scroll {
  height:100%;
  position: relative;
}
.routeDetails div.scroll ion-scroll{
  position: absolute;
  top: 70px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height:auto !important;
}
