<ion-header>
  <ion-navbar>
    <ion-title>O ruta</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="routes-list" scroll="false">
  <!-- <a class="button button-icon icon ion-arrow-swap" (click)="toggleDirections()"></a> -->

  <ion-icon name="swap" (click)="toggleDirections()"></ion-icon>

  <div *ngIf="line == null">
      Nu sunt rute disponibile
    </div>
    <div *ngIf="line">
      <div *ngFor="let station of line.routes[currentDirection].stations">
        <div class="station-name">{{station.name}}</div>
      </div>
    </div>

</ion-content>
