
#map_canvas {
  background: black;
  width: 100%;
  border: 1px solid green;
  color: green;
}
ion-content.map>scroll-content {
  padding: 0 !important;
  display: flex;
  flex-direction: column;
}

.full-width-element {
  width: 100%;
  position: relative;
}

#map_canvas {
  flex-grow: 1;
}
