<ion-header>
  <ion-navbar>
    <ion-title>Rute</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="lines-table" scroll="false">
  <ion-scroll class="flexOne bordered noPadding">
    12344444 f
    <div *ngIf="loading">Loading ...</div>
    <ion-list *ngIf="!loading" style="font-size: 20px;">
      <ion-item *ngFor="let lineBag of linesBags" style="border: 1px solid green">
        <div>{{lineBag.type.name}}</div>
        <div *ngFor="let line of lineBag.lines">
          {{line.name}}
        </div>
      </ion-item>
    </ion-list>
  </ion-scroll>

  <route-type-menu
    class="full-width-element"
    (selectedRouteTypeChanged)="selectedRouteTypeChanged($event)"
  ></route-type-menu>
</ion-content>
